<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permision.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MCO2_Group12"
        tools:targetApi="31">
        <activity
            android:name=".UPGardenActivity"
            android:exported="false" />
        <activity
            android:name=".OceanParkActivity"
            android:exported="false" />
        <activity
            android:name=".PinDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".NewEntryActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBcJyObmOEL204-siUt42dUL8JWilVDC_8"/>
    </application>

</manifest>